.navContainer {
    background-color: rgb(13, 40, 65);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    height: 80px;
}

.navBar {
    list-style-type: none;
    display: flex;
    height: 100%;
    width: 75%;
    margin: auto;
    /* align-items: center; */
}

.navItem {
    /* display: flex;
    align-items: center; */
    height: inherit;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem:nth-child(1) {
    border-top: 5px solid #FDA085;
}

.navItem:nth-child(2) {
    border-top: 5px solid #BFF098;
}

.navItem:nth-child(3) {
    border-top: 5px solid #EA8D8D;
}



.navBar li:hover {
    cursor: pointer;
}