.pop-up {
    height: 80%;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 0 0 30px;
    position: relative;
    z-index: 1;
}

.pop-up h1 {
    font-family: "Dosis", sans-serif;
    margin: 20px;
}

.pop-up p {
    width: 80%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 30px auto;
    line-height: 1.6;
}

.imageLayer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.arrow {
    font-size: 45px;
    color: rgb(44, 168, 177);
}

.arrow:hover {
    cursor: pointer;
    color: rgb(29, 74, 116);
}

.rightArrow {
    transform: rotate(180deg);
}

.x-button {
    font-size: 35px;
    color: rgb(231, 133, 41);
    position: absolute;
    top: 15px;
    right: 30px;
}

.x-button:hover {
    cursor: pointer;
    color: rgb(100, 33, 13);
}