td {  /* Default style for all node elements */
    height: 23px;
    width: 23px;
}

.unvisited {
    background-color: none;
    border: 1px solid rgb(151, 206, 243);
}

.visited {
    background-color: rgb(15, 151, 163);
    border: 1px solid rgb(151, 206, 243);
    animation-name: visitedAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    will-change: background-color;
}

.start {
    background-color: rgb(231, 133, 41);
}

.end {
    background-color: rgb(165, 93, 184);
}

.end-visited {
    background-color: rgb(78, 64, 155);
    animation-name: endVisitedAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    will-change: background-color;
}

.onpath {
    background-color: rgb(194, 67, 162);
    animation-name: onPathAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    will-change: background-color;
}

.wall {
    background-color: rgb(20, 38, 46);
    animation-name: wallAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    will-change: transform;
}

@keyframes visitedAnimation {
    0% {background-color: white; transform: scale(0.3); border-radius: 100%}
    25% {background-color: rgb(72, 195, 138)}
    50% {background-color: rgb(48, 204, 191)}
    75% {transform: scale(1.2)};
    100% {background-color: rgb(15, 151, 163); transform: scale(1.0);}
}

@keyframes onPathAnimation {
    0% {background-color: rgb(15, 151, 163); border: 1px solid rgb(151, 206, 243);}
    25% {background-color: rgb(46, 112, 187);}
    50% {background-color: rgb(114, 60, 202)}
    75% {transform: scale(1.2)};
    100% {background-color: rgb(194, 67, 162); transform: scale(1.0); border: none}
}

@keyframes wallAnimation {
    0% {transform: scale(0.3);}
    75% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

@keyframes endVisitedAnimation {
    0% {background-color: rgb(165, 93, 184);}
    75% {transform: scale(1.2);}
    100% {background-color: rgb(78, 64, 155); transform: scale(1.0);}
}



