td {  /* Default style for all node elements */
    border: 1px solid rgb(151, 206, 243);
    height: 23px;
    width: 23px;
}

.visited {
    background-color: rgb(15, 151, 163);
    animation-name: visitedAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    will-change: background-color;
}

.start {
    background-color: rgb(231, 153, 28);
}

.end {
    background-color: rgb(136, 77, 21);
}

.onpath {
    background-color: rgb(138, 31, 165);
    animation-name: onPathAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    will-change: background-color;
}

@keyframes visitedAnimation {
    0% {background-color: white;}
    100% {background-color: rgb(15, 151, 163);}
}

@keyframes onPathAnimation {
    0% {background-color: rgb(15, 151, 163);}
    100% {background-color: rgb(138, 31, 165);}
}



